<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->

        <%- include("header") -%>

        <div class="box" id="heading">
            <h1> <%= listTitle %> </h1>
        </div>

        
        <div class="box">
            <% activity.forEach(function(x) { %>
                <form action="/delete" method="post">
                    <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= x._id %>" onChange="this.form.submit()">
                    <p><%= x["name"] %></p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>"></input>
                </form>
            <% }) %>
            
            <form class="item" action="/" method="post">
                <input type="text" id="activity" name="activity" autocomplete="off" placeholder="New item">
                <button type="submit" name="list" value="<%= listTitle %>">+</button>
              </form> 
            
        </div>
        
        <%- include("footer") -%>
        
